table{
    color:blue;
}


ul{
    color: crimson;
}


li{
    color:rgb(166, 21, 196);
}

h2{
    color: deeppink;
}

h3{
    color: dodgerblue;
}

h4{
    color: green;
}

#hola{
    color:maroon;
}

#hi{
    color: midnightblue;
}

#comida{
    color: turquoise;
}

#receta{
    color: navy;
}


